<style>
	.table-bordered { 
		overflow: auto;
		display: block;
	}
</style>
<div class="row">
<div class="col-sm-8">
<table class="table table-bordered" >
	<thead>
	<tr class="info">
		<td>幣種</td>
		<td>歷史最低賣出日</td>
		<td>歷史最低賣出</td>
		<td>歷史最高買入日</td>
		<td>歷史最高買入</td>
		<td>漲跌幅</td>
		<td>1/2</td>
		<td>結果</td>
		<td>即期買入</td>
		<td>即期賣出</td>
	</tr>
	</thead>
	<tbody>
	<% @currencies.each do |currency| %>
		<tr>
			<td><%= currency.name %></td>
			<td><%= currency.min_date %></td>
			<td><%= currency.history_sold %></td>
			<td><%= currency.max_date %></td>
			<td><%= currency.history_bought %></td>
			<td><%= count_change(currency.history_bought, currency.history_sold) %>%</td>
			<td><%= get_section(currency.history_bought, currency.history_sold, 2) %>%</td>
			<td><%= count_change(currency.history_bought, currency.current_sell) %>%</td>
			<td><%= currency.current_buy %></td>
			<td><%= currency.current_sell %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<h3>Current_Types:<%=  @currencies.length %></h3>
<table class="table table-hover" >
	<% @currencies.each do |currency| %>
		<tr>
			<td>
				<%= currency.name %>
		    </td>
		    <td>
		    	<%= link_to 'delete', currency_path(currency), method: :delete, class: 'btn btn-default btn-sm' %>
		    </td>
		</tr>
	<% end %>
</table>

<%= form_for @currency do |f| %>
	<%= f.label :name, 'Currency' %>
	<%= f.select :name, @selection %>
	<%= f.submit 'Add', class:'btn btn-primary' %>
<% end %>
</div>
</div>
<div class="col-sm-4">
</div>