<h1>外匯小幫手</h1>
<table class="table table-bordered">
	<thead>
	<tr>
		<td>幣種</td>
		<td>歷史最低賣出日</td>
		<td>歷史最低賣出</td>
		<td>歷史最高買入日</td>
		<td>歷史最高買入</td>
		<td>漲跌幅</td>
		<td>區段</td>
		<td>結果</td>
		<td>即期買入</td>
		<td>即期賣出</td>
	</tr>
	</thead>
	<tbody>
	<% @lists.each do |list| %>
		<tr>
			<td><%= list[:currency] %></td>
			<td><%= list[:min_date] %></td>
			<td><%= list[:min_sold] %></td>
			<td><%= list[:max_date] %></td>
			<td><%= list[:max_bought] %></td>
			<td><%= list[:change] %>%</td>
			<td><%= list[:section] %>%</td>
			<td><%= list[:result] %>%</td>
			<td><%= list[:we_buy] %></td>
			<td><%= list[:we_sell] %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= link_to 'about', about_path %>