<table class="table table-bordered">
	<thead>
	<tr>
		<td>幣種</td>
		<td>歷史最低賣出日</td>
		<td>歷史最低賣出</td>
		<td>歷史最高買入日</td>
		<td>歷史最高買入</td>
		<td>漲跌幅</td>
		<td>區段</td>
		<td>結果</td>
		<td>即期買入</td>
		<td>即期賣出</td>
	</tr>
	</thead>
	<tbody>
	<% @currencies.each do |currency| %>
		<tr>
			<td><%= currency.name %></td>
			<td><%= currency.min_date %></td>
			<td><%= currency.history_sold %></td>
			<td><%= currency.max_date %></td>
			<td><%= currency.history_bought %></td>
			<td><%= count_change(currency.history_bought, currency.history_sold) %>%</td>
			<td><%= get_section(currency.history_bought, currency.history_sold, 2) %>%</td>
			<td><%= count_change(currency.history_bought, currency.current_sell) %>%</td>
			<td><%= currency.current_buy %></td>
			<td><%= currency.current_sell %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<h3>Current_types:<%=  @currencies.length %></h3>
<ul>
	<% @currencies.each do |currency| %>
			<li><%= currency.name %>
			<%= link_to 'delete', currency_path(currency), method: :delete %></li>
	<% end %>
</ul>

<%= form_for @currency do |f| %>
	<%= f.label :name, 'Currency' %>
	<%= f.text_field :name %>
	<%= f.submit 'Add' %>
<% end %>